<div class="container mt-5">
  <div class="form-group">
    <label for="exampleInputEmail1">V Unitario</label>
    <input type="" class="form-control"  aria-describedby="emailHelp"
    [imask]  = "mask"
		[unmask] = "true"
    placeholder="">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Curp</label>
    <input type="" class="form-control"  aria-describedby="emailHelp"
    oninput="this.value = this.value.toUpperCase()"
    [imask]  = "curp"
		[unmask] = "true"
    placeholder="">
  </div>
</div>

