/* You can add global styles to this file, and also import other style files */


$base-color: #337ab7;
$disable-background-color: #eceeef;

.multiselect-dropdown {

  .selected-item {

    max-width: 600px !important;

  }
}

.no-checkbox {
  .dropdown-list {
   

    ul {
      &:nth-child(2) {
        li {
          div {
            padding-left:  0!important;
            &::before {
              display: none !important;
            }
          }
        }


      }
    }
  }
}




//   .multiselect-item-checkbox[_ngcontent-ng-c692748064] input[type=checkbox][_ngcontent-ng-c692748064] + div[_ngcontent-ng-c692748064]:before  {

//       display:none!important;


// }